
/* styling for headblock (whole nav +mif news + image) */
#headblock_index{
    height: 700px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    margin-top: -50px;
    padding-left: 80px;
    padding-right: 80px;
    background-image: url("../images_used/homepage_header.c292b8416c3e.webp");  
}
/* whole data of state of the art medical supply styling */
#mid_header{
    display: flex;
    max-width: 50%;
}
/* whole data of state of the art medical supply styling */
#header_data{
    display: flex;
    flex-direction: column;
    padding-left: 50px;

}
#header_data h2{
    color: #404040;
}
/* whole data of state of the art medical supply styling all parts together*/
#header_data h2,#header_data p,#header_data footer{
    padding-top: 20px;
    font-family:'Raleway', sans-serif ;
}
/* whole data of state of the art medical supply styling (heading part) */
#header_data h2{
    font-size: 60px;
    color: rgb(41, 40, 40);
    padding-top: 30px;
    padding-bottom: 30px;
}
/* whole data of state of the art medical supply styling (para part) */
#header_data p{
    font-size: 20px;
    color: rgb(100, 92, 92);
    padding-top: 30px;
    padding-bottom: 30px;
}
/* whole data of state of the art medical supply styling (read more part) */
#header_data footer>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(270deg, rgb(50, 200, 250) 0%, rgb(88, 125, 228) 100%);
    padding: 12px 50px 10px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: -0.55%;
}
/* mid home page data styling */
#mid_data{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
/* styling for doctor timings */
#mid_data_1{
    width: 27%;
    margin-left: 4%;
    
}
/* styling for emergency contact */
#mid_data_2{
    width: 24%;
    margin-left: -10%;
}
/* styling for making appointment */
#mid_data_3{
    width: 26%;
    margin-left: -10%;
    margin-right: 5%;
}
/* styling for fieldseyt */
#fieldset_1_index,#fieldset_2_index,#fieldset_3_index{
    border-radius: 25px;
    border: 2px solid #19a3eb;
    border-color: #19a3eb;
    font-size: 20px;
    font-family: 'Raleway', 'sans-serif';
    color: #818db0;
    line-height: 1.8em;
}
#fieldset_1_index{
    border-top: auto;
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:auto;
    height: 280px;
}
/* styling for fieldset index-2 */
#fieldset_2_index{
    padding: 15px;
    font-size: 15px ;
    height: 280px;
}
/* styling for fieldset index-3 */
#fieldset_3_index{
    padding: 15px;
    font-size: 15px ;
    height: 280px;
}
/* styling for all legends */
#fieldset_1_index legend,#fieldset_2_index legend,#fieldset_3_index legend{
    color: black;
    font-size: 25px;
    margin-left: -5%;
}
#fieldset_3_index legend{
    margin-bottom: -1%;
}
/*  styling for emergency contact number */
#emergency_contact_number{
    color: white;
    background-image: linear-gradient(270deg, rgb(50, 200, 250) 0%, rgb(88, 125, 228) 100%);
    border-radius: 20px;
    padding: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
/* giving margiun */
#emergency_contacts_details{
    margin-top: 20px;
}
/* styling for making appointment form */
#fieldset_3_index form>select{
    font-size: 10px;
    width: 45%;
    padding: 12px 10px; 
    background-color:#f0f4f8;
    color:#7c7c7c;
    border-radius: 15px;
    font-family: 'Raleway', 'sans-serif';
    border-color: transparent;
    outline: none;
    margin-top: -5%;
}
/*  styling for making appointment form */
#fieldset_3_index form>input[type=text],#fieldset_3_index form>input[type=number],#fieldset_3_index form>input[type=email]{
    font-size: 10px;
    margin-top: 6px;
    width: 95%;
    padding: 5px 10px; 
    background-color:#f0f4f8;
    color:#7c7c7c;
    border-color: transparent;
    font-family: 'Raleway', 'sans-serif';
    outline: none;
}
/*  styling for making appointment form */
#book_appointment_submit{
    background-image: linear-gradient(270deg, rgb(50, 200, 250) 0%, rgb(88, 125, 228) 100%);
    color: white;
    width: 95%;
    padding: 5px 10px; 
    margin-top: 6px;
    font-family: 'Raleway', 'sans-serif';
    border-radius: 20px;
    margin-left: 12px;
    border-color: transparent;
}
/* styling for 'our departments' section */
#midsec_2{
    background-image: url("../images_used/background_home_midsection.e9af76d28f1a.webp");
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
#midsec_2_layer{
    background-image: linear-gradient(270deg, rgb(50, 200, 250) 0%, rgb(88, 125, 228) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Raleway', 'sans-serif';
    margin: 100px 150px 100px 150px;
}
/* styling for 'our department' */
#midsec_2_layer h2{
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    line-height: 1.8em;
    margin: 50px;
}
#midsec_2_data_layer_1,#midsec_2_data_layer_2,#midsec_2_data_layer_3{
    display: flex;
    justify-content: space-between;
    margin-left:5% ;
    margin-right:60px ;
    margin-bottom: 70px;
}

#midsec_2_data_layer_1 div,#midsec_2_data_layer_2 div,#midsec_2_data_layer_3 div{
    width: 31%;
}
#midsec_2_data_layer_1 div>h4,#midsec_2_data_layer_2 div>h4,#midsec_2_data_layer_3 div>h4{
    padding-bottom: 30px;
    font-size: 25px;
    line-height: 12px;
    font-weight: 300;
}
#midsec_2_data_layer_1 div>p,#midsec_2_data_layer_2 div>p,#midsec_2_data_layer_3 div>p{
    padding-bottom: 30px;
    font-size: 15px;
    line-height: 1.8rem;
    font-weight: 100;
}
#midsec_2_data_layer_1 div>a,#midsec_2_data_layer_2 div>a,#midsec_2_data_layer_3 div>a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
/*  styling for testimonials */
#testimonials{
    background-image: url("../images_used/testimonial-bg.jpg.4fda4ff7ca9e.webp");
    background-repeat: no-repeat;
    background-position:170%;
    height: 900px;
}
#testimonials_container{
    margin-left: 150px;
    margin-top: 100px;
}
#testimonial_heading h1{
    padding-top: 80px;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Raleway', 'sans-serif';
    color: #404040;
}
#testimonials_data{
    background-color: white;
    width: 700px;
    border-radius: 25px;
    height: 600px;
    margin-bottom: 50px;
    box-shadow:20px 10px 40px #404040;
}
#testimonials_data_option{
    display: flex;
    margin: 30px;
    padding-top: 30px;
    justify-content: space-between;
}
#testimonials_data_option img{
    height: 60px;
    width: 60px;
}
#modal_open_button{
    background-image: linear-gradient(270deg, rgb(50, 200, 250) 0%, rgb(88, 125, 228) 100%);
    color: white;
    font-size: 20px;
    line-height: 1.8em;
    font-family: 'Raleway', 'sans-serif';
    text-decoration: none;
    border-radius: 25px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
    border-color: transparent;
    outline: none;
}
#testimonials_data_para{
    margin-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 1.8em;
    font-family: 'Raleway', 'sans-serif';
    color: #878787;
    height: 300px;
}
#testimonials_data_pictures{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    padding-left: 30px;
    padding-right: 40px;
}
#other_pics_testimonial img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}
#main_pic_testimonial img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 4px solid rgb(50, 200, 250);
}
#name_of_person{
    margin-left: 30px;
    margin-top: 20px;
}
#name_of_person h6{
    font-size: 15px;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 100;
    color: #3d3d3d;
}
#name_of_person p{
    font-size: 10px;
    font-family: 'Raleway', 'sans-serif';
    color: #5e5e5e;
}
/*  Modal styling: */
/* name tag: */
#comment-name,#comment-location,#testimonial_new_comment{
    outline: none;
    background-color: #f0f4f8;
    border: none;
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 10px;
}
#user_pic_comment_label{
    color: #6b6b6b;
    font-size: 20px;
    font-family: 'Raleway', 'sans-serif';
}
#submit_comment{
    border: none;
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
    color: white;
    font-size: 20px;
    line-height: 1.8em;
    font-family: 'Raleway', 'sans-serif';
    text-decoration: none;
    background-image: linear-gradient(270deg, rgb(50, 200, 250) 0%, rgb(88, 125, 228) 100%);
}
/* Styling for news */
#newsheading h2{
    text-align: center;
    font-size: 55px;
    font-family: 'Raleway', 'sans-serif';
    margin-bottom: 60px;
}
#news-data{
    display: flex;
    justify-content: space-between;
}
#news1{
    margin-left: 7.5%;
    padding-left: 50px;
}
#news3{
    margin-right: 7.5%;
}
#tests:hover{
    text-decoration: none;
}
.news_parts img{
    width:90%;
    margin-bottom: 30px;
    height: 300px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
}
.news_parts h4{
    font-size: 20px;
    font-family: 'Raleway', 'sans-serif';
    color: black;
}
.news_parts p{
    font-size: 12px;
    font-family: 'Raleway', 'sans-serif';
    color: #898585;
    width: 70%;
    line-height: 1.8em;
}
.news-details{
    font-size: 11px;
    color: #898585;
    font-family:'Raleway', 'sans-serif';
    margin-bottom: 30px;
    margin-top: 12px;
    font-weight: 600;
    line-height: 1.8em;
}
.news-details a{
    padding-right: 15px;
    color: #898585;
}
.details_color{
    color: #33abed;
}
.news-details a:hover{
    color: inherit;
}
/* Mobile styling  */
@media screen and (max-width: 500px) {
    #headblock_index{
        height: 450px;
        width: 100%;
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
        background-image: url("../images_used/homepage_header.c292b8416c3e.webp");  
    }
    #mid_header{
        max-width: 70%;
    }
    #header_data{
        padding-left: 20px;
    }
    /* whole data of state of the art medical supply styling all parts together*/
    #header_data h2,#header_data p,#header_data footer{
        padding-top: 0;
    }
    /* whole data of state of the art medical supply styling (heading part) */
    #header_data h2{
        font-size: 30px;
        color: #404040;
        padding-top: 0;
        padding-bottom: 0;
    }
    /* whole data of state of the art medical supply styling (para part) */
    #header_data p{
        font-size: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    /* whole data of state of the art medical supply styling (read more part) */
    #header_data footer>a{
        padding: 12px 30px 10px;
        font-size: 15px;
    }
    /* Styling for timings apointment etc */
    #mid_data{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin-top: 70px;
    }
    #fieldset_1_index{
        font-size: 18px;
        line-height: 2.5em;
    }
    /* styling for doctor timings */
    #mid_data_1{
        width: 90%;
        margin-left: 0;
        margin-bottom: 50px;
    }
    /* styling for emergency contact */
    #mid_data_2{
        width: 90%;
        margin-left: 0;
        margin-bottom: 50px;
    }
    /* styling for making appointment */
    #mid_data_3{
        width: 90%;
        margin-left: 0;
        margin-bottom: 50px;
    }
    #midsec_2{
        margin-top: 50px;
    }
    /* Styling for our departments */
    #midsec_2_layer{
        background-repeat: no-repeat;
        margin: 50px 20px 50px 20px;
    }
    /* styling for 'our department' */
    #midsec_2_layer h2{
        font-size: 30px;  
    }
    #midsec_2_data_layer_1,#midsec_2_data_layer_2,#midsec_2_data_layer_3{
        display: flex;
        flex-direction: column;
        align-items:center ;
        margin-left:5% ;
        margin-right:40px ;
        margin-bottom: 20px;
    }

    #midsec_2_data_layer_1 div,#midsec_2_data_layer_2 div,#midsec_2_data_layer_3 div{
        width: 100%;
    }
    #midsec_2_data_layer_1 div>h4,#midsec_2_data_layer_2 div>h4,#midsec_2_data_layer_3 div>h4{
        padding-bottom: 20px;
    }
    #midsec_2_data_layer_1 div>p,#midsec_2_data_layer_2 div>p,#midsec_2_data_layer_3 div>p{
        padding-bottom: 20px;
    }
    #midsec_2_data_layer_1 div>a,#midsec_2_data_layer_2 div>a,#midsec_2_data_layer_3 div>a{
        margin-bottom: 20px;
    }

    /*  styling for testimonials */
    #testimonials{
        background-image: url("../images_used/testimonial-bg.jpg.4fda4ff7ca9e.webp");
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        height: 900px;
    }
    #testimonials_container{
        margin-left: 0;
        margin-top: 50px;
    }
    #testimonial_heading h1{
        padding-top: 60px;
        font-size: 35px;
        font-weight: 500;
        text-align: center;
    }
    #testimonials_data{
        margin-left: 20px;
        width: 90%;
    }
    #testimonials_data_option{
        display: flex;
        margin: 15px;
    }
    #testimonials_data_option img{
        height: 40px;
        width: 40px;
    }
    #modal_open_button{
        font-size: 15px;
    }
    
    #testimonials_data_pictures{
        padding-left: 20px;
        padding-right: 20px;
    }
    #other_pics_testimonial img{
        width: 35px;
        height: 35px;
    }
    #main_pic_testimonial img{
        width: 45px;
        height: 45px;
    }
    #name_of_person{
        margin-left: 20px;
    }
    /* Styling for news */
    #news{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #newsheading h2{
        margin-top: 50px;
    }
    #news-data{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    #news1{
        padding-left: 0;
    }
    .news_parts img{
        width: 100%;
        margin-bottom: 30px;
        height: 300px;
        box-sizing: border-box;
        cursor: pointer;
    }
    .news_parts h4{
        font-size: 20px;
        font-family: 'Raleway', 'sans-serif';
        color: black;
    }
    .news_parts p{
        font-size: 12px;
        font-family: 'Raleway', 'sans-serif';
        color: #898585;
        width: 90%;
        line-height: 1.8em;
    }
    .news-details{
        font-size: 11px;
        color: #898585;
        font-family:'Raleway', 'sans-serif';
        margin-bottom: 30px;
        margin-top: 12px;
        font-weight: 600;
        line-height: 1.8em;
    }
    .news-details a{
        padding-right: 0;
        color: #898585;
    }
    .details_color{
        color: #33abed;
    }
    .news-details a:hover{
        color: inherit;
    }
}